@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #e0ca7b, #00f2fe);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
  background: rgb(173, 168, 226);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

input {
  padding: 12px;
  margin: 10px 0;
  font-size: 16px;
  width: calc(100% - 24px);
  border: 2px solid #0b2323;
  border-radius: 5px;
  outline: none;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #82b6e4;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #7eb4b6;
}

h1 {
  margin: 20px 0;
  color: #191818;
}

.weather-container {
  margin-top: 20px;
}

.weather-container h2 {
  margin: 10px 0;
  color: #0d3e6b;
}

.weather-container p {
  margin: 5px 0;
  font-size: 18px;
  color: #764f4f;
}

.error {
  color: red;
  font-weight: bold;
}
